#cloud-config
ssh_pwauth: no
users:
%{ for user in users }
  - name: ${user.name}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${user.key}
%{ endfor }
